@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    width: 100vw;
    height: 100vh;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 2%, 87%);
    font-family: 'Poppins', sans-serif; 
}
.container{
    background-color: #fff;
    padding: 40px 35px;
    border-radius: 40px 40px 130px 40px;
}
.con{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}
.con-top{
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    font-size: 1rem;
    font-weight: 400;
}
label{
    color: rgba(0, 0, 0, 0.379);
}
input{
    width: 100px;
    height: 60px;
    font-size: 1.5rem;
    border-radius: 8px;
    text-indent: 10px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    font-weight: bolder;
}
#cl-btn{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    position: relative;
    margin: 50px 0px;
    cursor: pointer;
    z-index: 10;
}
#cl-btn::before{
    content: "";
    height: 1px ;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.237);
    overflow: hidden;
    /* top: 50%; */
}
img{
    border-radius: 50%;
    background-color: rgba(0, 0, 255, 0.801);
    height: 60px;
    padding: 10px;
    position: absolute;
}
.cn-bottom{
    display: flex;
    font-size: 2.5rem;
    font-style: italic;
    flex-direction: row;
    column-gap: 1rem;
    align-items: center;
    justify-content: flex-start;
}
.cn-bottom>h3:nth-child(1){
    color: rgba(0, 0, 255, 0.801);
}
#day-extra,#month-extra,#year-extra{
    font-size: 10px;
    color: red;
    font-style: italic;
    margin-left: 5px;
}

@media screen and (min-width: 400px){
    #cl-btn{
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
        align-items: center;
        margin: 50px 0px 30px 0px;
        position: relative;
        z-index: 10;
        cursor: pointer;
    }
    .cn-bottom{
        font-size: 3rem;
    }
}